<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Add Block</title>
    <div th:replace="fragments/header1 :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">
	<h1>New Block</h1>
	<div class="col-md-4">
		<form th:object="${block}" th:action="@{../blockUpdate}" action="#" method="post">
		<input type="hidden" th:field="*{blockId}" class="form-control"/>
			 <input type="text" th:field="*{district.districtId}" class="form-control"
				placeholder="District" />
			<div style="clear: both; display: block; height: 10px;"></div> 
			
			<input type="text" th:field="*{blockName}" class="form-control"
				placeholder="Block Name" />
			<div style="clear: both; display: block; height: 10px;"></div>			 
		 
		    <input type="text" th:field="*{description}" class="form-control"
				placeholder="Block Description" />
			<div style="clear: both; display: block; height: 10px;"></div>			 
		 	<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
	</div>
	</div>
<div th:replace="fragments/footer1 :: footer"></div>

</body>
</html>