<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
	 <div class="container">   
    <div style="padding:0 20px">
    <table class="table table-striped">
		<tr>
		    <th>Id</th>
		    <th>Name</th>
		    <th>Description</th>
		    <th>Status</th>
		    <th>District</th>
		    <th>Total Village</th>
		    <th>Total People</th>
		    <th>Action</th>
		</tr>  
    	<tr th:each = "block,iterator : ${blockList}">
    		<td th:text="${iterator.index+1}"></td>
    		<td th:text="${block.blockName}"></td>
    		<td th:text="${block.description}"></td>    
    		<td th:text="${block.status}"></td>   
    		<td th:text="${block.district.districtName}"></td>    
    		<td th:text="${block.totalVillage}"></td>  	
    		<td th:text="${block.totalPeople}"></td>  		
    		<td>    			
    			<a th:href="@{/blockEdit/{id}(id=${block.blockId})}" class="btn btn-primary btn-xs">Edit</a>
    			 <a th:href="@{/blockDelete/{id}(id=${block.blockId})}" class="btn btn-danger btn-xs">Delete</a>
    		</td>
    	</tr>
    </table>
    <a href="/blockAdd" class="btn btn-primary">Add Block</a>
	</div>    
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>